ul,li{list-style: none;}

.head-box{background-color: #2b3643; height: 45px;line-height: 45px; color: #fff;}
.head-box a{ color: #fff;}

.left_menu_box{background-color:#364150;color: #fff;height:800px; padding-top: 30px; }
.left_menu_box a{color: #fff}

.left_menu_box li{padding: 10px 0;}

.right_content_box{padding-left: 10px;}
.breadcrumb {background-color: transparent;
    border-bottom: 1px solid #f5f5f5;}



.mt-10{margin-top: 10px;}  

.add_form_box{width: 580px;margin: 20px;}

/*登录页面*/

.login_form{    margin: 58px auto; width: 320px;}
.price_td:before{content: "￥"}
.footer_box{min-height:100px;text-align:center;margin-top:99px;border-top:1px solid #ccc;padding-top:10px;clear: both;}
